<div class="py-2 pl-4 space-y-6 font-semibold border-l-2 border-amber-900">

  <div class="flex items-center">
    <!-- Heroicon: phone-outgoing -->
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
      <path
        d="M17.924 2.617a.997.997 0 00-.215-.322l-.004-.004A.997.997 0 0017 2h-4a1 1 0 100 2h1.586l-3.293 3.293a1 1 0 001.414 1.414L16 5.414V7a1 1 0 102 0V3a.997.997 0 00-.076-.383z" />
      <path
        d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
    </svg>
    <a class="md:hidden" href="'tel:'+site.companyPhone">{{site.companyPhone}} »</a>
    <p class="hidden md:block">{{site.companyPhone}}</p>

  </div>

  <div class="flex items-center" v-if="site.companyFax">
    <!-- Heroicon: printer -->
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M5 4v3H4a2 2 0 00-2 2v3a2 2 0 002 2h1v2a2 2 0 002 2h6a2 2 0 002-2v-2h1a2 2 0 002-2V9a2 2 0 00-2-2h-1V4a2 2 0 00-2-2H7a2 2 0 00-2 2zm8 0H7v3h6V4zm0 8H7v4h6v-4z"
        clip-rule="evenodd" />
    </svg>

    <span>{{site.companyFax}}</span>
  </div>
  <div class="flex items-start justify-start flex-nowrap">
    <!-- Heroicon: location-marker -->
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
        clip-rule="evenodd" />
    </svg>
    <a href="https://goo.gl/maps/3Jtx4sRCJE1urbzq8" target="_blank" rel="noreferrer" class="flex-1 hover:underline">
      {{site.companyStreet}}, {{site.companyZip}} {{site.companyCity}} »
    </a>
  </div>
  <div class="flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
      <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
      <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
    </svg>
    <a class="hover:underline" href="#kontakt">Kontakt per E-Mail »</a>
  </div>
</div>