<header class="sticky top-0 z-10 w-full py-2 bg-white border-b border-opacity-25 shadow-sm border-amber-900 h-14 bg-opacity-95 md:sticky" x-data="{mobileMenuVisible: false}">
  <!-- Max Width Container for the logo, nav and CTA -->
  <div class="relative z-10 flex items-center justify-between w-full h-full max-w-screen-xl px-4 mx-auto md:px-8">

    <!-- Page Logo -->
    <a href="/" class="h-full" aria-label="Startseite">
      <img src="/assets/meta/logo-virnich-schreinerei.svg" class="w-auto h-full"/>
    </a>

    <!-- Navigation for Tablet and Up-->
    <nav class="hidden space-x-6 lg:flex">
      <!-- Link Items -->
      {% for items in site.headerNav %}
      <a class="relative text-sm font-semibold text-center cursor-pointer hover:underline" href="{{items.link}}" aria-label="{{items.label}}">{{items.label}}</a>
      {% endfor %}
    </nav>

    <!-- Right Area of the Header -->
    <div class="flex space-x-6">

      <!-- Kontakt CTA for Tablet-->
      <a href="#kontakt" class="inline-block px-3 py-3 text-xs font-semibold leading-none transition-all border-2 rounded-md cursor-pointer whitespace-nowrap md:block lg:hidden border-amber-400 hover:text-amber-200 focus:text-amber-200 hover:bg-amber-700 focus:bg-amber-700 ">Kontakt aufnehmen »</a>
      
      <!-- Kontakt CTA for Desktop-->
      <a href="#kontakt" class="hidden px-3 py-3 text-xs font-semibold leading-none transition-all border-2 border-transparent rounded-md cursor-pointer whitespace-nowrap lg:block bg-amber-400 hover:text-amber-200 focus:text-amber-200 hover:bg-amber-700 focus:bg-amber-700">Kontakt aufnehmen</a>

      <!-- Menu Button for Mobile and Tablet Navigation -->
      <button class="fixed z-10 flex items-center p-5 text-xs font-semibold rounded-full shadow-md bottom-12 right-8 bg-amber-400 md:rounded-md md:static md:p-3 hover:text-amber-200 focus:text-amber-200 hover:bg-amber-700 focus:bg-amber-700 md:shadow-none lg:hidden"
      aria-label="Menü öffnen"
      x-on:click="mobileMenuVisible = !mobileMenuVisible">

        <span class="sr-only">Menü öffnen</span>

        <!-- Heroicon name: outline/menu -->
        <svg class="w-6 h-6 md:w-4 md:h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        <span class="hidden ml-1 md:block">Menu</span>

      </button>

    </div>

  </div>

  <!-- Mobile Nav, hidden on large screens -->
  <div class="fixed inset-0 z-50 w-screen h-screen mx-auto lg:hidden"
  x-show="mobileMenuVisible" x-on:click="mobileMenuVisible = ! mobileMenuVisible" x-cloak>

     <!-- Overlay background and button to close menu on mobile -->
    <button class="absolute inset-0 z-10 w-screen h-screen transition bg-gray-900"
    aria-label="Menü schließen"
    x-bind:class="mobileMenuVisible ? 'opacity-75 pointer-events-auto' : 'opacity-0 pointer-events-none'"
    type="button" >
    </button>

    <div class="fixed inset-x-0 bottom-0 z-40 w-auto h-auto max-w-screen-sm max-h-screen mx-2 overflow-y-scroll transition origin-bottom transform bg-white shadow-lg sm:mr-0 md:w-full rounded-t-2xl sm:left-auto md:rounded-none md:h-full md:origin-top-right md:mr-0 "
    x-bind:class="mobileMenuVisible ? ' translate-y-0 scale-100 ' : 'translate-y-full scale-95 md:-translate-y-full'"  >

      <div class="sticky top-0 flex items-center justify-between h-16 bg-white border-b border-gray-100 bg-opacity-95">
    
        <!-- Page Logo -->
        <a href="/" class="h-full px-6 py-3 md:px-12" aria-label="Startseite">
          <img src="/assets/meta/logo-virnich-schreinerei.svg" class="w-auto h-full"/>
        </a>
        {# Close Button #}
        <svg class="w-auto h-full p-4 md:px-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>

      </div>

        <!-- Navigation for Tablet and Up-->
        <nav class="grid grid-cols-1 gap-2 px-4 my-4 text-base font-semibold md:px-8 md:grid-cols-2 md:gap-y-2">
          <!-- Link Items -->
          {% for items in site.headerNav %}
          <a class="flex items-center px-4 py-3 leading-none rounded-md mobile-nav-items focus:bg-amber-700 hover:bg-amber-700" href="{{items.link}}" aria-label="{{items.label}}">{{items.label}}</a>
          {% endfor %}
        </nav>
        
        <div class="my-8">
          <ul  class="grid grid-cols-2 gap-4 p-4 text-sm font-medium text-left border-t border-dashed md:grid-cols-3 md:px-8">
            {% for items in site.footerNav %}
            <li>
              <a href="{{items.link}}" aria-label="{{items.label}}" class="flex items-center px-4 py-1 rounded-md mobile-nav-items">          
                <span>{{items.label}}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="px-4 py-0 mb-12 md:px-12 md:my-12">
          <!-- Kontakt CTA -->
          <a href="#kontakt" class="inline-block px-3 py-3 text-xs font-semibold leading-none transition-all border-2 border-transparent rounded-md cursor-pointer whitespace-nowrap bg-amber-400 hover:text-amber-200 focus:text-amber-200 hover:bg-amber-700 focus:bg-amber-700" >Kontakt aufnehmen</a>
        </div>
    </div>
  </div>



</header>