  {# Documentation: #}
  {# https://instafeedjs.com/#/ #}

  <div class="px-0 mx-auto max-w-default lg:px-4">
    <h2 class="mb-2 text-2xl font-extrabold tracking-tight">Instagram Feed Integration:</h2>
    <div id="instafeed" class="grid grid-cols-3 gap-0.5 lg:gap-1"></div>
  </div>

  <script type="text/javascript" src="./assets/instafeed.js"></script>
  
  <script type="text/javascript">
    var feed = new Instafeed({
      limit: 9,
      accessToken: 'IGQVJWWW9sZAEY3dG40ZAm5PZAFdOUVdTekN1N2xHMmFuNXlIRmY5dWMyemc0MVRRdjFWcURDbnNoclo0VjN0R0RTY1k3QzNkTGNQNE9WSGc0S0oyQVhhMkZA6LTdSak1wZAVRycWNPWWhn'
    });
    feed.run();
</script>