{# Documentation: #}
{# https://www.11ty.dev/docs/plugins/navigation/ #}

<nav class="relative z-50 flex text-white">
{% set navPages = collections.all | eleventyNavigation %}
{% for entry in navPages %}
      
  {# First Level Navigation #}
  {% if entry.children.length < 1 %}

  <a href="{{ entry.url | url }}" 
  {% if entry.url == page.url %} 
  class="px-6 py-2 font-semibold text-yellow-300"
  {% else %}    
  class="px-6 py-2 font-normal transition-all hover:text-yellow-300"
  {% endif %}>  
  {{ entry.title }}
  </a>

  {# Multi Level Navigation #}
  {% else %}
  {# Parent Nav Element #}
  <div x-data="{ open: false }"  
    @mouseover="open = true"
    @mouseover.away="open = false">
   
    <p class="px-6 py-2">
    {{ entry.title }}
    </p>
  
    <ul 
    class="absolute p-2 bg-white shadow-md rounded-b-md"
    x-show="open">
    {% for entry in entry.children %}
    
    <li class="px-4 py-2 text-gray-700">
      <a 
      {% if entry.url == page.url %} 
      class="flex flex-no-wrap items-center space-x-1 font-semibold text-yellow-700 transition-all hover:text-yellow-300"
      {% else %}
      class="flex flex-no-wrap items-center space-x-1 transition-all hover:text-yellow-300"
      {% endif %}
      href="{{ entry.url | url }}">

      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path></svg>
  
      <span>{{entry.title}}</span>
      
      </a>
    </li>
    {% endfor %}
    </ul>
  </div>

  {% endif %}
{% endfor %}
 

</nav>

{# 

<div class="absolute z-50 inline-block w-auto p-4 mx-auto rounded-b-lg bg-rose-300"
x-show="open"   @mouseenter="open = true" 
  @mouseleave= "open = false">  
    <!-- PRODUCTS POPOVER -->

      <ul class="space-y-1">
        {% for i in range(0,5) %}
        <li class="flex items-center p-2 transition-all bg-gray-100 flex-nowrap hover:bg-gray-300">
          <div class="w-4 h-4 bg-yellow-300 rounded-full"></div>
          <div class="ml-2 leading-none text-gray-700 text-md">
            <h3 class="font-bold">Payments</h3>
            <p class="opacity-75">A complete payments platform engineered for growth</p>
          </div>
        </li>
        {% endfor %}
      </ul>

      <ul class="space-y-1">
        {% for i in range(0,5) %}
        <li class="flex items-center p-2 transition-all bg-gray-100 flex-nowrap hover:bg-gray-300">
          <div class="w-4 h-4 bg-teal-300 rounded-full"></div>
          <div class="ml-2 leading-none text-gray-700 text-md">
            <h3 class="font-bold">Payments</h3>
            <p class="opacity-75">A complete payments platform engineered for growth</p>
          </div>
        </li>
        {% endfor %}
      </ul>

</div> #}


{# Display all Navigation Elements // Debug ONLY #}
{# <div class="fixed inset-0 z-50 max-w-screen-sm p-6 m-16 mx-auto font-medium leading-relaxed text-gray-700 bg-white ring-8 ring-gray-600 rounded-xl drop-shadow-xl">
  {% set navPages = collections.all | eleventyNavigation %}
  {{ navPages | dump | safe }}
</div> #}