<!doctype html>
<html lang="{{language or site.language}}" class="smooth-scroll">

  <head>

    <title>
      {% if title %}
        {{title +" - "+ site.name}}
      {% else %}
        {{site.name}}
      {% endif %}
    </title>
    <link rel="canonical" href="{{ site.url + page.url }}"/>

    {# Default meta tags #}
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

    {# Meta Data and Twitter Card #}
    <meta name="description" content="{{ description or site.description }}"/>
    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta property="og:title" content="{{title or site.title}}"/>
    <meta property="og:url" content="{{ site.url + page.url }}"/>
    <meta property="og:description" content="{{ description or site.description }}"/>
    <meta property="og:image" content="{{ site.url }}/{{heroImage|replace("src/","")|replace(".","-640w.") or site.socialImage}}"/>
    <meta property="og:type" content="website"/>

    {# Favicons #}
    {# Source: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
    <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="{{ site.touchicon }}">
    <link rel="manifest" href="/assets/meta/manifest.webmanifest">

    {# Stylesheet - tailwindcss #}
    <link rel="stylesheet" href="/style.css?v={% version %}"/>

    {# Import Main JS #}
    <script type="module" src="/main.js?v={% version %}" defer></script>

    {# Fathom - beautiful, simple website analytics #}
    <script src="https://bluejay.schreinerei-virnich.de/script.js" data-site="CILOIANU" defer></script>
    {# / Fathom #}

    {# Add local dependencies to head #}
    {% block head %}{% endblock %}

  </head>

  <body class="overflow-x-hidden font-sans bg-pattern-grid text-brown-900">

    {% block header %}
      {% include "src/_includes/components/header.njk" %}
    {% endblock %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% block contact %}
      {% include "src/_includes/partials/global-contact.njk" %}
    {% endblock %}

    {% block footer %}
      {% include "src/_includes/components/footer.njk" %}
    {% endblock %}

  </body>

</html>