---
layout: layouts/default.njk ### Substitute for {% extends "src/_includes/default.njk" %}
---

{% block content %}

<div class="max-w-screen-md px-4 py-12 mx-auto prose lg:py-8 lg:prose-lg">

  <h1>{{title}}</h1>
  <main>{{ content | safe }}</main>

  {% if galleryImages %}
  <div class="grid grid-cols-3 gap-0.5 grid-flow-row-dense">
    {% for item in galleryImages %}
      {% imageNewsGallery item.image, item.alt, "(min-width: 1080px) 360px, 33.33vw" %}       
    {% endfor %} 
  </div>
  {% endif %}

</div> 
 
{% endblock %} 