---
title: Nachricht versendet
layout: layouts/default.njk
permalink: /nachricht-versendet/
---


{% block content %}
<div class="px-4">
<main class="max-w-screen-md p-6 mx-auto my-16 text-center text-green-700 bg-green-100 rounded-lg drop-shadow-lg">
<h1 class="text-3xl font-extrabold">{{title}}</h1>
<p class="mt-6">Ihre Nachricht wurde erfolgreich versendet!</p>
<p class="mt-6">Wir melden uns schnellstmöglich zurück. Besuchen Sie doch die <a class="font-semibold underline" href="/">Startseite</a></p>
</main>
</div>
{% endblock %} 