---
title: Startseite
layout: layouts/default.njk
---

{% include "src/_includes/partials/home-hero.njk" %}
{% include "src/_includes/partials/home-leistungen.njk" %}
{% include "src/_includes/partials/home-projekte.njk" %}
{% include "src/_includes/partials/home-showcase.njk" %}
{% include "src/_includes/partials/home-team.njk" %}
{% include "src/_includes/partials/home-partner.njk" %} 