
<section id="kontakt" class="py-20 bg-opacity-50 border-t-2 bg-amber-50 border-amber-900">
  <div class="grid grid-cols-1 gap-6 px-4 mx-auto max-w-default md:grid-cols-2" >

    <header class="px-4 mx-auto">
      <h2 class="text-2xl font-extrabold md:text-3xl lg:text-4xl ">Kontakt aufnehmen</h2>
      <p class="mx-auto mt-2 text-lg text-gray-600 max-w-prose">Wir stellen uns vor! Unsere festangestellten Mitarbeiter sind in verschiedenen Bereichen spezialisiert.</p>
      <div class="mt-12">{% include "src/_includes/components/contact-information.njk" %}</div>
    </header>

    <div>{% include "src/_includes/components/contact-form.njk" %}</div>

  </div>

</section>