<section id="leistungen" class="py-20">
  <div class="px-4 mx-auto max-w-default">
    <header class="mx-auto">
      <h2 class="text-2xl font-extrabold md:text-3xl lg:text-4xl md:text-center">Unsere Leistungen - Was können wir für Sie tun?</h2>
      <p class="mx-auto mt-2 text-lg text-gray-600 md:text-center max-w-prose">Als Bau- und Möbelschreinerei sind wir auf den Bau und die Renovierung von Gebäuden sowie die Konstruktion von Möbeln aller Art spezialisiert.</p>
    </header>

    <div class="grid grid-cols-1 gap-4 mt-12 md:gap-6 lg:gap-8 md:grid-cols-2 lg:grid-cols-3">
      
      <!-- Card -->
      {% for item in leistungen %}

        <div x-data="{isOpen : false}" @click="isOpen =!isOpen"class="relative p-3 transition-all bg-opacity-50 border border-dashed rounded-lg bg-brown-100 md:p-6 lg:border-2 lg:block border-brown-900 ">
 
          <!-- Expand toggle on Mobile -->
          <div class="absolute bottom-4 right-4 md:hidden text-amber-900">

            <!-- Heroicon: Plus Circle -->
            <svg :class="isOpen ? 'hidden' : 'inline-block'" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <!-- Heroicon: Minus Circle -->
            <svg :class="isOpen ? 'inline-block' : 'hidden'"  class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

          </div>

          <!-- Card Title & Icon -->
          <div class="flex items-start justify-start md:block">
            <h2 class="text-lg font-bold md:mt-3 md:text-center md:text-2xl">{{item.headline}}</h2>
          </div>

          <div class="mt-4 prose-sm prose md:prose md:mt-6 md:block"
          :class="isOpen ? 'block' : 'hidden'">{{item.description}}</div>

        </div>

      {% endfor %}
      
    


      
     
    </div>
  </div>         
</section>



