<section id="galerie" class="py-20">
  <header class="px-4 mx-auto">
    <h2 class="text-2xl font-extrabold md:text-3xl lg:text-4xl md:text-center">Neueste Arbeiten</h2>
    <p class="mx-auto mt-2 text-lg text-gray-600 md:text-center max-w-prose">Verschiedene Arbeiten aus allen Bereichen unserer Produktpalette. Von der Konstuktion individueller Möbelstücke über den Einbau von Haustüren und Fenstern bis hin zur kompletten Messebaulösung</p>
  </header>

  {# SplideJs #}
  <div id="splide" class="px-4 mx-auto mt-8 showcaseSplide xl:overflow-visible splide max-w-default">

  <div class="splide__track lg:!overflow-visible">
    <ul class="splide__list">
    {% for item in collections.projekt %}

      <li class="splide__slide">    

        <a href="{{item.url}}"class="relative block overflow-hidden border-2 border-opacity-25 rounded-md border-brown-900 lg:hover:border-amber-400 group">

          <div class="aspect-w-5 aspect-h-8">
            <!-- Projekt image -->
            {% imageShowcase item.data.heroImage, "object-cover w-full h-full", item.data.title, "(min-width: 768px) 400px, 95vw" %}
          </div>
          <!-- Project Information -->
          <div class="absolute bottom-0 px-4 pb-6 from-black bg-gradient-to-t">
            <h2 class="text-xl font-bold text-amber-50">{{item.data.title}}</h2>
            <p class="mt-2 text-sm text-gray-300">{{item.data.page.excerpt}}</p>
            <p class="mt-8 text-sm font-semibold group-hover:underline text-amber-500" >Projekt ansehen »</p>
          </div>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div> 

</section> 

<script type="module">
new Splide( '#splide',{
  perMove: 1,
  perPage: 3.5,
  focus:0,
  rewind: true,
  lazyLoad: 'nearby',
  gap    : '.75rem',
  waitForTransition: false,
  pagination: true,
	breakpoints: {
		'640': {
			perPage: 2,
			gap    : '1rem',
		},
		'480': {
			perPage: 1,
			gap    : '1rem',
		},
	}
} ).mount();
</script>
