
<section id="team" class="py-20">
  <header class="px-4 mx-auto">
    <h2 class="text-2xl font-extrabold md:text-3xl lg:text-4xl md:text-center">Unsere Partner</h2>
    <p class="mx-auto mt-2 text-lg text-gray-600 md:text-center max-w-prose">Gemeinsam mit unseren jahrelangen Partnern stehen wir für höchste Qualität.</p>
  </header>

  <div class="px-4 mx-auto mt-12 max-w-default">
   <div class="grid grid-cols-2 gap-3 mx-auto mt-8 md:grid-cols-3">
      {% for item in partner %}
      <div class="w-full p-8 bg-opacity-50 border rounded-md h-28 border-opacity-10 border-amber-500 bg-brown-100">
      {% picture item.image, "object-contain w-full h-full","{{item.name}}", "(min-width:768px)276px, 45vw", "lazy" %}
      </div>
      {% endfor %}
           
    </div>
  </div>
</section>