<section id="hero" class="relative overflow-x-hidden ">

  {# ================================================================ #}
  {# Background Color and pattern =================================== #}
  <div class="absolute inset-0 md:grid w-full h-full md:grid-cols-5 -z-1 border-b-[3px] border-amber-900">
    <div class="w-full h-full col-span-1 bg-opacity-50 md:col-span-3 bg-brown-100 bg-pattern-grid--dark"></div>
    <div class="hidden w-full h-full md:block md:col-span-2 bg-brown-900"></div>
  </div>

  <div class="relative z-0 grid items-center max-w-screen-xl grid-cols-1 px-4 pt-8 mx-auto place-items-center gap-y-16 gap-x-10 md:py-8 md:grid-cols-2 lg:pt-20 lg:pb-24">

    <!-- Left column -->
    <div class="w-full max-w-screen-md md:py-16">

        <h1 class="text-2xl font-black lg:text-4xl text-amber-900">{{site.companyName}}</h1>
        <h2 class="text-xl font-medium opacity-80">{{site.companyMotto}}</h2>
        <p class="mt-8 text-lg font-medium">{{site.companyDescription}}</p>
        <div class="mt-12">{% include "src/_includes/components/contact-information.njk" %}</div>

    </div>

    <!-- Right Column -->
    <div class="relative pb-8 -mx-2 md:mx-auto md:p-0 md:w-full md:h-full">
  
      <div class="max-h-[50vh] md:-mr-8 relative grid-cols-3 grid md:max-h-full md:absolute md:h-full md:grid-cols-7 md:grid-rows-3 gap-1 md:gap-3 xl:-mr-24 2xl:-mr-48">        

        {% img homeHero.image1, "object-cover w-full h-full md:col-span-3 md:row-span-2 rounded-tl-lg md:rounded-lg", homeHero.desc1, "(min-width:768px)480px, 100vw", "eager" %}     

        {% img homeHero.image2, "object-cover w-full h-full md:col-span-2 md:row-span-3 md:rounded-lg", homeHero.desc2, "(min-width:768px)480px, 100vw", "eager" %}     

        {% img homeHero.image3, "md:col-span-2 md:row-span-1  object-cover w-full h-full rounded-tr-lg md:rounded-lg", homeHero.desc3, "(min-width:768px)320px, 100vw", "eager" %}     

        {% img homeHero.image4, "md:col-span-2 md:row-span-1 object-cover w-full h-full  rounded-bl-lg md:rounded-lg", homeHero.desc4, "(min-width:768px)320px, 100vw", "eager" %}     

        {% img homeHero.image5, "object-cover w-full h-full md:col-span-3 md:row-span-1  md:rounded-lg", homeHero.desc5, "(min-width:768px)320px, 100vw", "eager" %}     

        {% img homeHero.image6, "object-cover w-full h-full md:col-span-2 md:row-span-1 rounded-br-lg md:rounded-lg", homeHero.desc6, "(min-width:768px)320px, 100vw", "eager" %}  


      </div>

    </div>
  </div>


</section>
