
<section id="team" class="py-20">
  <header class="px-4 mx-auto">
    <h2 class="text-2xl font-extrabold md:text-3xl lg:text-4xl md:text-center">Unsere Partner</h2>
    <p class="mx-auto mt-2 text-lg text-gray-600 md:text-center max-w-prose">Gemeinsam mit unseren jahrelangen Partnern stehen wir für höchste Qualität.</p>
  </header>

  <div class="px-4 mx-auto mt-12 max-w-default">
   <div class="grid grid-cols-2 gap-3 mx-auto mt-8 md:grid-cols-3">
      {% macro partner(name, image) %}
      <div class="w-full p-8 bg-opacity-50 border rounded-md h-28 border-opacity-10 border-amber-500 bg-brown-100">
        <img class="object-contain w-full h-full" src="{{image}}" alt="{{name}}" loading="lazy"/>
      </div>
      {% endmacro %}
 
      {{ partner("Holz Scherf", "/assets/images/logo-scherf.png")}}
      {{ partner("EGE Fensterbau", "/assets/images/logo-ege.svg")}}
      {{ partner("Holz Scherf", "https://www.glasbau-porschen.de/images/Logo%20Glasbau%20Porschen.png")}}
      {{ partner("Holz Scherf", "https://www.koch-fensterbau.de/getimage.php?w=1&rw1=200&rw2=180&rw3=160&rw4=400&rw5=280&img=logo.png")}}
      {{ partner("Holz Scherf", "https://www.rickert-schmelter.de/wp-content/uploads/2016/05/Logo_Header.png")}}
      {{ partner("Holz Scherf", "https://www.nuessing.de/images/store/N%C3%BC%C3%9Fing%20Shop/logo.svg")}}
      {{ partner("Holz Scherf", "https://www.haefele.de/prod-live/static/WFS/Haefele-HDE-Site/-/Haefele-HDE/de_DE/images/haefele_logo.png")}}
      {{ partner("Holz Scherf", "https://www.wuerth.de/web/media/system/layout_wl2bootstrap/bootstrap_system_images/wuerth-logo.svg")}}

          
    </div>
  </div>
</section>